{% extends 'base.html' %}
{% load static %}
{% block link %} <link rel="stylesheet" href="{% static 'CSS/home.css' %}"> {% endblock %}
{% block title %} <title>CRUD - Home</title> {% endblock %}
{% block script %} <script src="{% static 'JS/home.js' %}"></script> {% endblock %}
{% block content%}

    <!-- Botoes -->
    <div class="add-div flex">
        <div class="add column" onclick="window.location.href = '/client/new'">
            <i class="fas fa-user-friends"></i>
            <div class="flex">
                <i class="fas fa-plus"></i>
                <b class="word">Cadastrar Usuário</b>
            </div>
        </div>
        <div onclick="window.location.href = '/vendas/novo'" class="add column">
            <i class="fas fa-poll"></i>
            <div class="flex">
                <i class="fas fa-plus"></i>
                <b class="word">Nova Venda</b>
            </div>
        </div>
        <div onclick="window.location.href = '/produto/new'" class="add column">
            <i class="fab fa-product-hunt"></i>
            <div class="flex">
                <i class="fas fa-plus"></i>
                <b class="word">Cadastrar Produto</b>
            </div>
        </div>
    </div>
    <div class="line"></div>

    <!-- Campo de pesquisa -->
    <form id='search' method="GET" class="container-search flex">
        <div class="search">
            <input name="search" type="text" placeholder="Cliente">
            <i class="fas fa-search" onclick="submit()"></i>
        </div>
        <select name="filter" id="filter" required>
            <option selected disabled value="Filtro">Filtro</option>
            <option value="Produto">Produto</option>
            <option value="Cliente">Cliente</option>
        </select>
    </form>

    <!-- dados de usuário -->
    {% if tipo == 'user' %}
    <ul id="dados">
        {% for x in users %}
        <li class="flex">
            <i class="fas fa-user"></i>
            <p class="word">{{ x.nome }}</p>
            <div class="flex">
                <i class="fas fa-edit" onclick="toggleModal('{{ x.id }}')"></i>
                <i class="fas fa-trash" onclick="toggleModal('{{ x.id }}', true)"></i>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <ul id="dados">
        {% for x in users %}
        <li class="flex">
            <i class="fab fa-product-hunt"></i>
            <p class="word">{{ x.nome }}</p>
            <div class="flex">
                <i class="fas fa-edit" onclick="toggleModal('{{ x.id }}')"></i>
                <i class="fas fa-trash" onclick="toggleModal('{{ x.id }}', true)"></i>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% endif %}


    <!-- Paginacao -->
	{% if users.paginator.num_pages > 1 %}
        <div class="pagination">
            <span class="step-links">
                {% if users.has_previous %}
                    {% if tipo == "user" %}
                    <a href="?page={{ tasks.previous_page_number }}"> <i class="fas fa-angle-left"></i> </a>
                    {% else %}
                    <a href="?page={{ tasks.previous_page_number }}&search=&filter=Produto"> <i class="fas fa-angle-left"></i> </a>
                    {% endif %}
                {% endif %}

                {% if users.paginator.num_pages %}
                    <span class="current word">
                      {{ users.number }} de {{ users.paginator.num_pages }}
                    </span>
                {% endif %}

                {% if users.has_next %}
                    {% if tipo == "user" %}
                    <a href="?page={{ users.next_page_number }}"> <i class="fas fa-angle-right"></i></a>
                    {% else %}
                    <a href="?page={{ users.next_page_number }}&search=&filter=Produto"> <i class="fas fa-angle-right"></i></a>
                    {% endif %}
                {% endif %}
            </span>
        </div>
      {% endif %}

    <!-- Modal -->
    <div class="screen-modal close">
        <div class="modal">
            <i class="fas fa-times close" ></i>
            <div class="middle flex">
                {% if tipo == "user" %}
                <!-- Form -->
                <form id='dadosEdit' action="/client/edit" method="POST" class="dados">
                    {% csrf_token %}
                    <input id='pk' type="text" name="pk" style="display: none;" >
                    <input id="nome" name="nome" type="text" placeholder="Nome Completo" class="input two-cols" >
                    <input id='idade' name='idade' type="text" placeholder="Idade" class="input">
                    <input id="sexo" name="sexo" type="text" placeholder="Sexo" class="input">
                    <input id="n_doc" name="n_doc" type="text" placeholder="N do documento" class="input">
                    <input id="cep" name="cep" type="text" placeholder="CEP" class="input">
                    <input id="endereco" name='endereco' type="text" placeholder="Endereço" class="input two-cols">
                    <input id="bairro" name="bairro" type="text" placeholder="Bairro" class="input">
                    <div class="cid_est flex">
                        <input id="cid" name='cid' type="text" placeholder="Cidade" class="input">
                        <input id="est" name='est' type="text" placeholder="Estado" class="input">
                    </div>
                </form>

                {% elif tipo == "product" %}
                <!-- Form -->
                <form action="/produto/edit" id="dadosEdit" method="POST" class="dados">
                    {% csrf_token %}
                    <input id='pk' type="text" name="pk" style="display: none;" >
                    <input id="nome" type="text" placeholder="Nome" name="nome" class="input two-cols">
                    <input id="valor" type="text" placeholder="Valor" name="valor" onchange="convertToMoneyValue(this)" class="input two-cols">
                </form>               
                {% endif %}
            </div>
            <!-- Botoes -->
            <div id="buttons" class="flex">
                <input id='pk' type="text" name="pk" style="display: none;" >
                <button onclick="document.querySelector('#dadosEdit').submit()" class="word">Concluir</button>                
            </div>
        </div>
    </div>

    <div class="screen-modal close">
        <div class="modal-delete">
            <i class="fas fa-times close" ></i>
            <div class="middle flex">
                <h3 class="word">Deseja excluir este item ?</h3>
            </div>
            <div id="buttons" class="flex">
                <button class="word close">Cancelar</button>
                <button onclick="delCli()" class="word">Excluir</button>
            </div>
        </div>
    </div>
    

    <script>
        var data = `{{ json|safe }}`
        var enderecos = `{{ enderecos|safe }}`
        enderecos = enderecos.substring(2, enderecos.length -2);
        enderecos = enderecos.split("'[").join("");
        enderecos = enderecos.split("]'").join("");
        // Conversao de string Json para JSON object
        users = JSON.parse(data)
        enderecos = JSON.parse(enderecos);

        // token
        var csrftoken = `{{ csrf_token }}`
    </script>
{% endblock %}