{% extends 'base.html' %}
{% load static %}
{% block title %} <title>CRUD - Nova Venda</title> {% endblock %}
{% block link %} <link rel="stylesheet" href="{% static 'CSS/nova.css' %}"> {% endblock %}
{% block script %} <script src="{% static 'JS/novo.js' %}"></script> {% endblock %}

{% block content %}
<div class="section flex">
    <!-- Selecao  -->
    <div id="main">
        <!-- Indicador do passo -->
        <div id="steps" class="flex">
            <div style="background-color: #1B89EE;" class="ball"></div>
            <div class="ball"></div>
            <div class="ball"></div>

        </div>


        <!-- Dados de Seleção -->
        <div class="container-dados flex">
            <div class="dados column">
                <div class="search">
                    <input type="text" placeholder="Cliente">
                    <i class="fas fa-search"></i>
                </div>
                <div class="busca">
                    <div class="model-dado" onclick="selectUser(this)">
                        <i class="far fa-user"></i>
                        <p class="word">Thyago Odorico Garcia</p>
                    </div>
                    <div class="model-dado" onclick="selectUser(this)">
                        <i class="far fa-user"></i>
                        <p class="word">Nayra Lorrane</p>
                    </div>
                </div>
                <div class="buttons flex">
                    <button onclick="passStep(0)" class="back">Voltar</button>
                    <button onclick="passStep(1)" class="next">Proximo</button>
                </div>
            </div>
            <div class="dados column">
                <div class="search">
                    <input type="text" placeholder="Produto">
                    <i class="fas fa-search"></i>
                </div>
                <div class="busca">
                    <div class="model-dado" onclick="selectProduct(this, 1)">
                        <i class="fab fa-product-hunt"></i>
                        <p class="word">Redmi Note 7</p>
                        <label class="word">Qtd: <input class="input-qtd" value="1" type="number" name="qtd" id="qtd"></label>
                        <label class="word">Valor: <p class="word valor">500</p></label>
                    </div>
                    <div  class="model-dado" onclick="selectProduct(this, 2)">
                        <i class="fab fa-product-hunt"></i>
                        <p class="word">Mi Note 10</p>
                        <label class="word">Qtd: <input class="input-qtd" value="1" type="number" name="qtd" id="qtd"></label>
                        <label class="word">Valor: <p class="word valor">1000</p></label>  
                    </div>
                </div>
                <div class="buttons flex">
                    <button onclick="passStep(0)" class="back">Voltar</button>
                    <button onclick="passStep(2)" class="next">Proximo</button>
                </div>
            </div>
            
        </div>
    </div>


    <!-- Resumo -->
    <div class="resumo column">
        <h4 class="word tt_resumo">Vendedor</h4>
        <div class="model-text flex">
            <p id='vendedor' class="word">Thyago Odorico Garcia</p>
            <i class="fas fa-edit"></i>
        </div>
        <h4 class="word tt_resumo">Cliente</h4>
        <div id='cliente' class="model-text flex">
            
        </div>

        <h4 id='produto' class="word tt_resumo">Produtos</h4>
     
     

        <h4 class="word tt_resumo">Valor Total</h4>
        <div class="model-text flex">
            <p id="vlrTotal" class="word"> </p>
        </div>

        <div id='buttonResumo' style="display: none;" class="buttons flex">
            <button onclick="passStep(1)" class="back">Voltar</button>
            <button class="next">Concluir</button>
        </div>
    </div>
    
</div>

{% endblock %}