{% extends 'base.html' %}
{% load static %}
{% block title %} <title>CRUD - Vendas</title> {% endblock %}
{% block link %} <link rel="stylesheet" href="{% static 'CSS/vendas.css' %}"> {% endblock %}

{% block content %}
<!-- Botao de add -->
<div class="add flex" onclick="window.location.href = '/vendas/novo'"> 
    <i class="fas fa-poll"></i> 
    <i class="fas fa-plus"></i>
    <p class="word">Nova Venda</p>
</div>


<!-- Campo de pesquisa -->
<form id='search' method="GET" class="container-search flex">
    <div class="search">
        <input name="search" type="text" placeholder="Cliente">
        <i class="fas fa-search" onclick="document.querySelector('#search').submit()"></i>
    </div>
    <select name="filter" id="filter" >
        <option selected value="cliente">Cliente</option>
        <option value="codigo">Codigo de Venda</option>
    </select>
</form>

<!-- Vendas -->
{% if vendas %}
<div class="legenda flex">
    <p class="word">Codigo da venda</p>
    <p class="word">Cliente</p>
    <p class="word"></p>
</div>
{% endif %}
<div class="container-vendas">
    <ul>
        {% for x in vendas %}
        <li>
            <h4 class="word"> {{ x.pk }} </h4>
            <p class="word"> {{ x.cod_cliente.nome }} </p>
            <div class="icons">
                <i onclick='window.location.href = "/venda/delete/{{ x.pk }}"' class="fas fa-trash"></i>
                <i class="fas fa-edit" onclick="window.location.href = '/vendas/edit/{{ x.pk }}'"></i>
            </div>
        </li>
        {% endfor %}
        
       
    </ul>
</div>



<!-- Paginacao -->
{% if users.paginator.num_pages > 1 %}
<div class="pagination">
    <span class="step-links">
        {% if users.has_previous %}
            <a href="?page={{ tasks.previous_page_number }}"> <i class="fas fa-angle-left"></i> </a>
        {% endif %}
    
        {% if users.paginator.num_pages %}
            <span class="current word">
              {{ users.number }} de {{ users.paginator.num_pages }}
            </span>
        {% endif %} 
      
        {% if users.has_next %}
            <a href="?page={{ users.next_page_number }}"> <i class="fas fa-angle-right"></i></a>
        {% endif %}
    </span>
</div>
{% endif %}


{% endblock %}