/* Botoes de cadastro */
.add-div{
    margin-top: 70px ;
    justify-content: space-evenly;
}
.add{
    width: 23vw;
    height: 260px;
    border-radius: 31px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    transition: 0.4s;
}
.add:nth-of-type(1){
    background-color: #1B89EE;
}
.add:nth-of-type(1):hover{
    background-color: white;
    color: #1B89EE;
}
.add:nth-of-type(2){
    background-color: #47B036;
}
.add:nth-of-type(2):hover{
    background-color: white;
    color: #47B036;
}
.add:nth-of-type(3){
    background-color: #D8B813;
}
.add:nth-of-type(3):hover{
    background-color: white;
    color: #D8B813;
}



.add div{
    align-items: center;
}

.add > i{
    font-size: 130px;
    margin-bottom: 20px;
}
.add .fa-plus{
    font-size: 30px;
    margin: 5px;

}




/* Pesquisa */
.line{
    margin: 80px auto 50px auto ;
    height: 1px;
    width: 70%;
    background-color: darkgray;
}
.container-search{
    width: 70%;
    margin: 0px auto 0px auto;
    justify-content: space-between;
}
.search{
    position: relative;
    width: 75%;
    background-color: #D8D5D5;
    height: 35px;
    border-radius: 8px;
    
}
.search input{
    border: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    color: #010B13;
    text-indent: 10px;
    font-size: 12pt;
    
}
.search input::placeholder{
    color: gray;
}
.fa-search{
    position: absolute;  
    top: 9px;
    right: 10px;
    cursor: pointer;
    color: #1B89EE;
}

/* Filtro */
#filter{
    border: none;
    background-color: #D8D5D5;
    border-radius: 7px;
    width: 20%;
    height: 35px;
    font-size: 12pt;
    text-indent: 10px;
}





/* dados carregados */
#dados{
    width: 70%;
    margin: 30px auto 30px auto;
}
#dados li{
    width: calc(100% - 40px);
    height: 40px;
    padding: 0px 20px 0px 20px;
    margin-top: 20px;
    border-radius: 10px;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background-color: white;
}
#dados li:hover{
    background-color: whitesmoke;
    color: #1B89EE;
    transition: 0.5s;
}


/* Modal */
.middle{
    justify-content: space-around;
}
.dados{
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: repeat(5, 70px);
    justify-content: space-between;
    width: 70%;
}
.logo{
    align-items: center;
    width: 25%;
}
.logo .fa-user{
    margin: 20px auto 10px auto;
    font-size: 100px;
    grid-row: 1/3;
    align-self: center;
    justify-self: center;
}
#controls{
    width: 100%;
    height: 30px;
    align-items: center;
    justify-content: space-around;
}
#controls button{
    border: 2px solid #1B89EE;
    height: 30px;
    width: 100px;
    color: #1B89EE;
    background-color: white;
    border-radius: 15px;
}
.fa-trash{
    color: #dd0c2f;
    cursor: pointer;
}
.input{
    border: none;
    
    background-color:#efefef;
    border-radius: 14px;
    text-indent: 15px;
    width: 100%;
    height: 35px;
    align-self: center;
    justify-self: center;
}

.two-cols{
    grid-column: 1/3;
    text-align: center;
}
.input::placeholder{
    color: gray;
}
#buttons{
    width: 100%;
    height: 100%;
    justify-content: space-around;
}
#buttons button{
    width: 150px;
    height: 30px;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    font-weight: bold;
}
#buttons button:nth-child(1){
    background-color: white;
    color: #1B89EE;
}
#buttons button:nth-child(2){
    background-color: #1B89EE;
    color: white;
    
}
.cid_est{
    justify-content: space-between;

}
.cid_est input:nth-child(1){
    width: 50%;
    
}
.cid_est input:nth-child(2){
    width: 40%;
    
}